
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.prevCard {
  left: calc(0% + 2rem);
  opacity: 0;
  background-color: #3f00ff;
}

.activeCard {
left: 50%;
transform: translateX(-50%);
background-color: #00ff66;
}

.nextCard {
  left: 100%;
  transform: translateX(calc(-100% - 2rem));
  opacity: 0;
  background-color: #ffcc00;
}
.card-container {
  position: relative;

  width: 20%;
  background-color: #ff0000;
}